*
!/cmd
!/contrib
!/Dockerfile
!/Dockerfile.dapper
!/.dockerignore
!/.drone.yml
!/.git
!/.gitignore
!/.golangci.json
!/go.mod
!/go.sum
!/LICENSE
!/main.go
!/Makefile
!/pkg
!/README.md
!/scripts
!/todo.txt
!/vendor
